* {
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}
.cols {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    justify-content: center;
    text-align: center;
    text-align: center;
    /* background-color: aqua; */
    color: #fff;
}
button {
    padding: 16px;
    font-size: 16px;
    background-color: cornflowerblue;
    border: none;
    font-family: cursive;
    cursor: pointer;
    color: #fff;
    box-shadow: 3px 4px 3px 5px blue;

}
.cols h1 {
    box-shadow: 3px 2px 4px 3px#fff;
    border: none;
}